.miembro h3 {
    margin-bottom: 6px;
}

.miembro h4 {
    color: #999;
}

.miembro .style2 {
    margin-right: 12px;
    display: inline-block;
}

.pricing-container ul {
    list-style: none;
}

@media (min-width: 800px) {
    section.features {
        width: 66%;
        float: left;
    }

    section.pricing {
        width: 33%;
        float: left;
    }
}

ul.companies {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul img {
    vertical-align: middle;
}

ul.companies li {
    padding: 0;
    margin: 0 15px;
    display: inline;
}

ul.companies li.first {
    margin: 0 15px 0 0;
}

ul.companies li a {
    text-decoration: none;
    border: 0;
}