.miembro h3 {
    margin-bottom: 6px;
}

.miembro h4 {
    color: #999;
}

.miembro .style2 {
    margin-right: 12px;
    display: inline-block;
}

.pricing-container ul {
    list-style: none;
}


@media (min-width: 800px) {
    section.features {
        width: 66%;
        float: left;
    }

    section.pricing {
        width: 33%;
        float: left;
    }
}